/* Reset de margens e preenchimentos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 83, 187);
}

/* Container da área de login */
.admin-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Estilo para os campos de entrada */
input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    border: 1px solid #ccc;
}

/* Estilo para o botão */
button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

/* Estilo para o botão ao passar o mouse */
button:hover {
    background-color: #0056b3;
}
